/* CS1 Background and text colours
-------------------------------------------------------------*/

html, body {
  background: #200e04;
}

#pun-title TABLE {
  background: url(https://forumstatic.ru/files/0018/1e/e2/90979.png) no-repeat top center;
}

#pun {
  background: url(https://forumstatic.ru/files/0018/1e/e2/42467.png) repeat-y top center transparent;
  color: #5b432c;
}

#pun-about {
  background: url(https://forumstatic.ru/files/0018/1e/e2/53957.png) no-repeat bottom center;
  width: 1020px;
  height: 130px;
  margin-left: -30px;
}

/* выделение */
::selection {
color: #e6d6c3;
background: #938265;
}

/* CS1.1 */
.punbb .main .container,
.punbb td.tc3,
.punbb .section .container,
.punbb .section .formal .container,
.punbb .formal fieldset,
#viewprofile li strong, #viewprofile li div,
#setmods dd,
.punbb .post-body,
.post-box,
.punbb .post-links,
.punbb .info-box, .punbb
#pun-main .info-box .legend {
  background: transparent;
  color: #5b432c;
  }

.punbb-admin #pun-admain .adcontainer {
  color: #666;
  background: transparent;
}

#pun-ulinks .container{
  background: none;
  color: #5b432c;
}

/* CS1.2 */
.punbb .post .container,
.punbb .post h3 {
  background: transparent;
  color: #5b432c;
}

.punbb .post h3 span {
  background: transparent;
  color: #5b432c;
}

.punbb td.tc2, .punbb td.tcr  {
  background: transparent;
  color: #5b432c;
  }

.punbb td.tcl , .punbb td.tc3   {
  background: transparent;
  color: #5b432c;
  }

.punbb td.tc2, .punbb td.tc3 {
  color: #5b432c;
  font-weight: normal;
  font-size: 1.3em;
  font-family: tahoma;
}

#pun-index .tclcon h3 a {
  color: #200e04;
  transition: all .2s linear .2s;
}

#pun-index .tclcon h3 a:hover {
  color: #5b432c;
}


.multipage td.tc2, .multipage td.tc3 {font-size: 1em !important;   font-family: tahoma;}

.punbb td.tc3 {
  color: #5b432c
}

/* CS1.3 */
#pun-stats h2, .punbb .main h2, #pun-debug h2 {
  background: transparent no-repeat center;
  color: #C5AC6E;
  font-size: 1.1em;
  text-align: center;
  font-variant: small-caps;
}

.punbb .main h1 {
color: #5b432c;
text-align: center;
font-family: 'Oswald';
font-weight: normal;
text-transform: uppercase;
font-size: 14px;
}

.punbb-admin #pun-admain h2 {
  background: #473519;
  color: #cdbaa3;
}

/* CS1.4 */
.punbb .modmenu .container {
  background: transparent;
  color: #5b432c;
  }

/* CS1.5 */
.punbb legend span, #viewprofile h2 span, #profilenav h2 span, .punbb-admin #pun-admain legend span {
  background: transparent;
  color: #5b432c;
  }

#viewprofile h2 span {
  background-image: none;
}

.punbb .post h3 strong {
        font-size: 0.9em;
        color: #5b432c;
}

/* CS1.7 */
.punbb .quote-box, .punbb .code-box {
  background: #b6a48c;
  color: #5b432c;
  box-shadow: 0 0 7px 0 rgba(91, 67, 44, .4), 0px 3px 5px 0px rgba(0, 0, 0, 0.15), inset 0 0 8px 0 rgba(230, 214, 195, .5);
  scrollbar-color: #938265 transparent;
  scrollbar-width: thin !important;
  }

.punbb .quote-box .quote-box, .punbb .code-box .code-box, .punbb .quote-box .spoiler-box .quote-box  {
background: #cdbaa3;
}

.punbb textarea, .punbb select, .punbb input {
  background: #E6DFCC;
  color: #5b432c;
  border: none;
  scrollbar-width: thin;
  scrollbar-color: #b6a48c transparent ; /* 1 - бегунок, 2 - полоса */
}


/* CS1.8 */
#pun-navlinks .container {
  background: none;
  color: #006699;
  }

.offline li.pa-online strong {
  font-weight: normal;
  }

.punbb th {
  color: #826218;
  background: transparent;
}

/* CS2 Border colours
-------------------------------------------------------------*/

#pun-title, #pun-navlinks {
  border-color: transparent;
  border: none;
}

/* CS2.1 */
.punbb .container, .punbb .post-body, .post h3 {
  border-color: transparent;
  border: none;
  }

/* CS2.2 */
.punbb .section, .punbb .forum, .punbb .formal, .punbb .modmenu, .punbb .info,
.punbb .category, .punbb .post {
  border-color: transparent;
  border: none;
  }

/* CS2.3 */
#pun-stats h2, .punbb .main h1, .punbb .main h2, #pun-debug h2, .punbb-admin #pun-admain h2 {
  border-color: transparent;
  border: none;
  }

/* CS2.4 */
.punbb td, .punbb fieldset, #viewprofile ul, #profilenav ul, .punbb .post .post-body,
.punbb .post h3 span, .post-links ul, .post-links, .usertable table {
  border-color: transparent;
  border: none;
  }
/* CS2.5 */
.punbb th {
  border-color: transparent;
  border: none;
  }

/* CS2.6 */
.punbb .quote-box, .punbb .code-box {
  border: 1px solid #b6a48c;
  border-radius: 2px;
  }

#pun-ulinks li, #pun-announcement h2 span, li#onlinelist, #pun-help .formal .info-box h3.legend span {
  border-color: transparent;
  border: none;
  }

#pun-ulinks li a, #pun-announcement h2, li#onlinelist div, #pun-help .formal .info-box h3.legend {
  border-color: transparent;
  border: none;
  }

.punbb .divider {
  border-color: transparent;
  border: none;
  }

.punbb .formal fieldset .post-box, .punbb .info-box {
  border: none;
  border: none;
  }

 li.pa-online {
  border: none;
  border-color: transparent;
  }


/* CS3 Links
-------------------------------------------------------------*/

/* CS3.1 */
.punbb a, .punbb a:link, .punbb a:visited  {
  color: #87622A;
  text-decoration: none;
  transition: all .2s linear .2s;
  }

.punbb-admin #pun-admain a, .punbb-admin #pun-admain a:link, .punbb-admin #punbb-admain a:visited,  .punbb-admin #pun-admain .nodefault,
.punbb-admin #punbb-admain a:hover, .punbb-admin #punbb-admain a:focus, .punbb-admin #punbb-admain a:active {
  color: #5b432c;
  text-decoration: none;
}

.punbb li.isactive a, .punbb li.isactive a:link, .punbb li.isactive a:visited {
  color: #5b432c;
  text-decoration: none;
  }

/* CS3.2 */
.punbb a:hover, .punbb a:focus, .punbb a:active {
  color: #5b432c;
  text-decoration: none;
  }

/* CS3.3 */
#pun-navlinks a {
  color: rgba(199, 178, 153, .5);
  padding: 0px 4px 0px 4px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c7b299+0,856135+50,c7b299+100 */
  background: #c7b299; /* Old browsers */
  background: -moz-linear-gradient(top,  #c7b299 0%, #856135 50%, #c7b299 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #c7b299 0%,#856135 50%,#c7b299 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #c7b299 0%,#856135 50%,#c7b299 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7b299', endColorstr='#c7b299',GradientType=0 ); /* IE6-9 */
  background-clip: text !important;
  -webkit-background-clip: text !important;
  text-decoration: none;   
  text-transform: uppercase;
  text-shadow: -1px -1px 0 rgba(199, 178, 153, .5), 1px 1px 0 rgba(32, 14, 4, .5);
  transition: all .2s linear 0s;
  }

/* CS3.4 */
#pun-navlinks a:hover, #pun-navlinks a:focus, #pun-navlinks a:active {
  color: rgba(199, 178, 153, .5);
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#856135+0,c7b299+50,c7b299+50,856135+99 */
  background: #856135; /* Old browsers */
  background: -moz-linear-gradient(top,  #856135 0%, #c7b299 50%, #c7b299 50%, #856135 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #856135 0%,#c7b299 50%,#c7b299 50%,#856135 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #856135 0%,#c7b299 50%,#c7b299 50%,#856135 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#856135', endColorstr='#856135',GradientType=0 ); /* IE6-9 */
  background-clip: text !important;
 -webkit-background-clip: text !important;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(199, 178, 153, .5), -1px -1px 0 rgba(32, 14, 4, .5);
  }

#pun-ulinks a {
  color: #5b432c;
  text-decoration: none;
  transition: all .2s linear .2s;
  }

/* CS3.4 */
#pun-ulinks a:hover, #pun-ulinks a:focus, #pun-ulinks a:active {
  color: #87622A;
  text-decoration: none;
  }

#pun-pagelinks a:active, #pun-pagelinks a:focus {
  background-color: #5b432c;
  color: #000;
  }

.subscribelink a, .subscribelink a:link, .subscribelink a:visited {
  color: #5b432c;
}

.subscribelink a:hover, .subscribelink a:focus {
  color: #5b432c;
}

.postlink a, .postlink a:link, .postlink a:visited,
.pagelink a, .pagelink a:link, .pagelink a:visited {
  color: #5b432c;
  transition: all .2s linear .2s;
}

.postlink a:hover, .postlink a:focus,
.pagelink a:hover, .pagelink a:focus {
  color: #87622A;
}

.pagelink, .postlink {
color: #5b432c;
}

.post h3 span a:link, .post h3 span a:visited {
        font-weight: normal;
        font-size: 0.9em;
        text-decoration: none;
}

/* CS4 Post status icons
 -------------------------------------------------------------*/

div.icon {
        background: url(https://forumstatic.ru/files/0018/1e/e2/81632.png) no-repeat;
}

tr.inew div.icon {
        background: url(https://forumstatic.ru/files/0018/1e/e2/62702.png) no-repeat;
}

tr.iclosed div.icon {
        background: url(https://forumstatic.ru/files/0018/1e/e2/90028.png) no-repeat;
}

tr.iredirect div.icon {
        background: url() no-repeat;
}

tr.isticky div.icon {
        background: url(https://forumstatic.ru/files/0018/1e/e2/67467.png) no-repeat;
}
.punbb .main h2 span, #pun-stats h2 span {
    background: none;
        padding-left: 20px;
        padding-bottom: 10px;
        padding-top: 9px;
        margin-left:-12px;
}

#profilenav h2 span {background-image: none}

td.tcr a{
        background: transparent;
        padding-left: 0;
        padding-bottom: 5px;
        padding-top: 7px;
}

#pun-stats ul.container {
        background: transparent;
}

#pun-stats div.statscon {
   background: transparent;
}

#pun-crumbs2 .container, #pun-about .container{
        background: transparent;
        color: #5b432c;
}


#pun-main div.catleft, #pun-main div.catright {
        display: none;
}